@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  background: linear-gradient(to bottom, #f0f0f0, rgb(179, 179, 226));
  height: 100%;
}

/*---------------------------------------------Nav Bar-------------------------------------------------------------*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  color: white;
  border-bottom: 2px solid #b4b3b3;
  width: 100%;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-left: 64px;
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 50%;
  gap: 100px;
  font-size: larger;
  font-weight: 400;
  margin: 0 10px;
}
.nav-links a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 8px 15px;
  transition: background-color 0.3s;
}
.nav-links a:hover {
  color: #2f5cd9;
  border-radius: 10px;
  box-shadow: 0px 1px 0px #2f5cd9; /* Custom underline using box-shadow */
}

/*---------------------------------------------Main Page Body---------------------------------------------------------*/

/*======Upper Body=======*/

.upper-body {
  padding: 0px 10px;
  margin: 0px 64px;
  background-color: rgb(255, 255, 255, 0.5);
  display: flex;
  gap: 200px;
  height: 100vh;
}

.upper-body h1 {
  font-size: 50px;
  font-weight: bold;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding-bottom: 100px;
}

.left-container p {
  font-size: large;
  font-weight: 400;
  padding-bottom: 10px;
  padding-left: 10px;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  background-color: #0070f3;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1em;
  margin-right: 1.2em;
  min-width: 120px;
}

.btn:hover {
  background-color: #0051bb;
}

.btn-container {
  display: flex;
}

/*===Lower Body===*/

.lower-body {
  margin: 0px 64px;
  background-color: rgb(255, 255, 255, 0.5);
  display: flex;
  gap: 50px;
  border-top: 2px solid #696868; /* Adjust the color and thickness as needed */
  padding-top: 70px;
  height: 100vh;
}

.lower-body h1 {
  font-size: 50px;
  font-weight: bold;
}
.lower-body .left-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Aligns items to the start of the container */
  justify-content: flex-start; /* Aligns content to the top */
  width: 50%;
}
.lower-body .left-container p {
  padding-left: 40px;
  text-align: justify;
}

.lower-body .left-container h3 {
  font-weight: bold;
  font-size: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.blueTruth {
  color: #375bd2;
}

.truth_blue {
  color: #375bd2;
}

.my-bullet-list {
  list-style-type: disc;
  padding-left: 20px;
}

/*==============Bills==============*/
.servicePage {
  padding: 0px 10px;
  margin: 0px 64px;
  background-color: rgb(255, 255, 255, 0.5);
  display: flex;
  gap: 200px;
  height: 100%;
}

.chainlink-functions-link {
  color: blue;
}

.bill-title-subtitle {
  display: flex;
  justify-content: center;
}

.bill-title-header {
  font-size: large;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: 3em;
  text-decoration: underline;
  text-align: center;
}

.service-title-header {
  width: 100%;
  background-color: #375bd2;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-radius: 6px;
}
/**/
.service-title-header p {
  display: flex;
  justify-content: center;
  color: white;
}

.service-title-header h1 {
  display: flex;
  font-weight: bold;
  font-size: 50px;
  justify-content: center;
  color: whitesmoke;
}

.bills-container {
  justify-content: center;
  padding: 2rem;
}

.bill-cards-container {
  background-color: rgb(128, 128, 128, 0.3);
  border-radius: 12px;
  padding: 10px;
}
/***/
.card-image {
  padding-bottom: 5px;
}

.bill-arrow-icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
/**/
.bill-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates three columns */
  grid-gap: 20px;
}

.bill-list li {
  background-color: white;
  padding-bottom: 20px;
  margin-top: 1rem;
  display: flex;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.2s ease-in-out;
}
/***/
.bill-list li:hover {
  transform: scale(1.05);
}

.bill-list h2 {
  padding-top: 10px;
  padding: 0px 10px;
  font-weight: bold;
}

.bill-list p {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.align-date {
  text-decoration: underline;
}
/*==================== SELECTED BILL =====================*/

.bill-data-container {
  width: 100%;
}

.bill-data-container h1 {
  display: flex;
  justify-content: center;
  font-size: larger;
  font-weight: bold;
}
.more-information {
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-size: 2em;
  color: #333;
  padding: 20px;
}

.ai-options-container {
  font-weight: bold;
  color: gray;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
/*==================== ============= =====================*/

.bill-info-ver-header {
  display: flex;
  width: 100%;
  gap: 600px;
  padding-left: 250px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: larger;
}

.more-bill-info-header {
  display: flex;
  justify-content: right;
  padding-left: 20px;
}

/*=================== DATA TABLES ======================*/
.data-table-container {
  display: flex;
  justify-content: center; /* Centers the table horizontally */
}

.data-table {
  width: 70%;
  border-collapse: collapse; /* For removing the space between borders */
  text-align: center;
  margin-top: 20px;
  justify-items: center;
}

.data-table h2 {
  display: flex;
  justify-content: center;
}

.data-table th,
.data-table td {
  border: 1px solid #ddd; /* Adds border to table cells */
  padding: 8px;
}

.ai-link-list {
  font-weight: bold;
  box-shadow: #333;
}

.data-table th {
  background-color: #f2f2f2; /* Light grey background for header */
  color: #333; /* Dark text color for header */
}

.data-table td {
  background-color: white; /* Light grey background for header */
  color: #333; /* Dark text color for header */
}

.data-table-link {
  color: rgb(0, 110, 255);
  text-decoration: underline;
}

.title-cell {
  font-weight: bold;
  background-color: #f2f2f2;
}

.description-cell {
  background-color: white;
}

.description-cell-link {
  text-decoration: underline;
  color: blue;
  background-color: white;
}

.body-table {
  border: 1px solid #f7f4f4; /* Adds border to table cells */
}

.body-table th,
.body-table td {
  border: 1px solid #ddd; /* Adds border to table cells */
  padding: 2px;
}

.more-information-tables {
  display: flex;
  gap: 10px;
  padding-bottom: 30px;
  justify-content: center;
}

/*=================== ========= ======================*/
/*=================== PROMPT CONTAINER ======================*/

.prompt {
  display: flex;
  justify-content: center;
}

.prompt-container {
  background-color: #57bcff;
  padding-bottom: 20px;
  margin-top: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 70%;
  display: flex;
}

.prompt-container p {
  color: #f5f3f3;
  font-weight: bold;
  text-align: justify;
  padding-right: 20px;
  font-family: "Courier New", Courier, monospace;
}

.pbtn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  background-color: #0070f3;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  min-width: 120px;
}

.pbtn-copied {
  background-color: #16c60c;
}

/*=================== ========= ======================*/

.verification-information {
  display: flex;
  justify-content: center;
}

.prompt-tag {
  padding-top: 30px;
  padding-right: 20px;
  font-weight: bolder;
  font-size: large;
  font-family: "Courier New", Courier, monospace;
}

/*=================== IMAGE-LINKS-SELECTED-BILL ======================*/

.image-links-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.spacer {
  margin-right: 30px; /* Adds space to the right of each image container */
  display: flex; /* This will allow the margin to take effect */
  vertical-align: top;
}

.spacer p {
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: gray;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.image-card div {
  border-radius: 8px; /* Rounded edges */
  overflow: hidden; /* This ensures the rounded corners are applied to the image */
  transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.image-card:hover div {
  transform: scale(1.02); /* Slightly enlarge the image on hover */
}

.links-box {
  position: absolute;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  z-index: 10;
  /* additional styling as needed */
}

/*==============================CAROUSEL================================*/

/* ImageCarousel.module.css */
.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 100px;
  padding-bottom: 40px;
  padding-right: 20px;
}

.imageContainer {
  max-width: 650px;
  border: 2px solid #333; /* Example border */
  position: relative;
}

.image {
  display: block;
  width: 100%;
  border: 2px solid #333; /* Border around the image */
}

.imageSource {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: #fff;
  text-align: center;
  padding: 5px;
}

.sourceLink {
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgb(64, 64, 243);
  border-radius: 8px;
}

.button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  color: #333;
}

/*=================== ========= ======================*/
/* ===================  FOOTER ==================== */
.footer {
  text-align: center;
  padding: 15px 0;
  background-color: #f0f0f0;
  color: #333;
  position: absolute;
  width: 100%;
  border-top: 2px solid #b4b3b3;
}

.contact-images {
  display: flex;
  justify-content: center;
  gap: 250px;
  padding-right: 150px;
}

.icons {
  display: flex;
  gap: 10px;
}
/*====================== TECH PAGE ===================*/
.technology-page {
  display: flex;
  background: linear-gradient(to bottom, #f0f0f0, rgb(179, 179, 226));
  height: 70vh;
}

.tech-card {
  background-color: rgb(243, 241, 241, 0.5);
  padding-top: 50px;
  width: 50%;
  margin: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Optional: for card shadow */
}

.tech-card-text {
  padding: 10px;
}

.tech-card-image-1 {
  background-color: white;
  padding: 20px 0px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Optional: for card shadow */
}

.tech-card-image-2 {
  background-color: white;
  padding: 8px 0px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Optional: for card shadow */
}

.tech-card-image-0 {
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Optional: for card shadow */
}

/*================VISION PAGE=================*/
.vision-page {
  display: flex;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  text-align: justify; /* Center text within the container */
  padding-top: 10px;
  background: linear-gradient(to bottom, #f0f0f0, rgb(179, 179, 226));
  gap: 50px;
  height: 100vh;
}

.vision-page-container {
  background-color: rgb(255, 249, 249, 0.5);
  padding: 20px;
  margin-left: 40px;
}

.vision-page-container h1 {
  text-align: center;
}

.vision-page img {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
  border: 2px solid #ccc; /* Customize border color and thickness */
}

.vision-page p {
  padding-bottom: 10px;
  padding-top: 10px;
}

.vision-page h1 {
  font-weight: bold;
  font-size: 2em;
}

.vision-page-bio-container {
  background-color: rgb(255, 249, 249, 0.5);
  padding: 2px 20px;
  margin-right: 40px;
  margin-top: 0px;
}

.vision-page-bio-container h1 {
  text-align: center;
}
.bio-image {
  display: flex;
  justify-content: center;
}

.sponsor-container {
  display: flex;
  gap: 20px;
  padding-top: 20px;
}

.sponsor-description-text {
}

.sponsor-image {
  display: inline-block;
  padding-right: 0.4px;
  border: 2px solid black;
}
