@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  background: linear-gradient(to bottom, white, #007bff);
  height: 100%;
}

/*---------------------------------------------Nav Bar-------------------------------------------------------------*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: white;
  /*border-bottom: 2px solid #b4b3b3*/
  margin: 0px 64px;
}
.logo {
  font-size: 24px;
  font-weight: bold;
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 50%;
  gap: 100px;
  font-size: larger;
  font-weight: 300;
  margin: 0 10px;
}
.nav-links a {
  text-decoration: none;
  color: black;
  padding: 8px 15px;
  transition: background-color 0.3s;
}
.nav-links a:hover {
  background-color: #555;
}

/*---------------------------------------------Main Page Body---------------------------------------------------------*/

/*======Upper Body=======*/

.upper-body {
  padding: 0px 10px;
  margin: 0px 64px;
  background-color: rgb(255, 255, 255, 0.5);
  display: flex;
  gap: 200px;
  height: 100vh;
}

.upper-body h1 {
  font-size: 50px;
  font-weight: bold;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding-bottom: 100px;
}

.left-container p {
  font-size: large;
  font-weight: 400;
  padding-bottom: 10px;
  padding-left: 10px;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  background-color: #0070f3;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1em;
  margin-right: 1.2em;
  min-width: 120px;
}

.btn:hover {
  background-color: #0051bb;
}

.btn-container {
  display: flex;
}

/*===Lower Body===*/

.lower-body {
  padding: 0px 10px;
  margin: 0px 64px;
  background-color: rgb(255, 255, 255, 0.5);
  display: flex;
  gap: 200px;
  height: 75vh;
}

.lower-body h1 {
  font-size: 50px;
  font-weight: bold;
}
.lower-body .left-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Aligns items to the start of the container */
  justify-content: flex-start; /* Aligns content to the top */
  width: 50%;
}
.lower-body .left-container p {
  padding-left: 40px;
  text-align: justify;
}

.truth_blue {
  color: #375bd2;
}

.my-bullet-list {
  list-style-type: disc;
  padding-left: 20px;
}

/*==============Bills==============*/

.servicePage {
  padding: 0px 10px;
  margin: 0px 64px;
  background-color: rgb(255, 255, 255, 0.5);
  display: flex;
  gap: 200px;
  height: 100%;
}

.bills-container {
  justify-content: center;
  padding: 2rem;
}

.bills-container h1 {
  display: flex;
  font-weight: bold;
  font-size: 50px;
  justify-content: center;
}

.bill-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates three columns */
  grid-gap: 20px;
}

.bill-list li {
  background-color: white;
  padding-bottom: 20px;
  margin-top: 1rem;
  display: flex;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.2s ease-in-out;
}

.bill-list li:hover {
  transform: scale(1.05);
}

.bill-list h2 {
  padding-top: 10px;
  padding: 0px 10px;
  font-weight: bold;
}

.bill-list p {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.align-date {
  text-decoration: underline;
}

/*==================== SELECTED BILL =====================*/
.bill-data-container {
  width: 100%;
}

.bill-data-container h1 {
  display: flex;
  justify-content: center;
  font-size: larger;
  font-weight: bold;
}
/*==================== ============= =====================*/

/*=================== DATA TABLES ======================*/
.data-table-container {
  display: flex;
  justify-content: center; /* Centers the table horizontally */
}

.data-table {
  width: 70%;
  border-collapse: collapse; /* For removing the space between borders */
  text-align: center;
  margin-top: 20px;
  justify-items: center;
}

.data-table th,
.data-table td {
  border: 1px solid #ddd; /* Adds border to table cells */
  padding: 8px;
}

.data-table th {
  background-color: #f2f2f2; /* Light grey background for header */
  color: #333; /* Dark text color for header */
}

.data-table td {
  background-color: white; /* Light grey background for header */
  color: #333; /* Dark text color for header */
}

.data-table-link {
  color: rgb(0, 110, 255);
}

/*=================== ========= ======================*/
/*=================== PROMPT CONTAINER ======================*/

.prompt {
  display: flex;
  justify-content: center;
}

.prompt-container {
  background-color: #57bcff;
  padding-bottom: 20px;
  margin-top: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 70%;
  display: flex;
}

.prompt-container p {
  color: #f5f3f3;
  font-weight: bold;
  text-align: justify;
  padding-right: 20px;
}

.pbtn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  background-color: #0070f3;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  min-width: 120px;
}

.pbtn-copied {
  background-color: #16c60c;
}

/*=================== ========= ======================*/

@media (max-width: 600px) {
  /* Adjust the 600px breakpoint as needed */
  .navbar {
    flex-direction: column;
  }

  .nav-links {
    margin-top: 20px; /* Adds space between logo and links */
    text-align: center; /* Centers the links */
  }

  .nav-links a {
    display: block; /* Stack the links */
    margin: 10px 0; /* Adjust spacing around links */
  }
}
