@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  background: linear-gradient(to bottom, white, #007bff);
  height: 1000px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 64px;
}
.logo {
  font-size: 24px;
  font-weight: bold;
}
.nav-links {
  display: flex;
}
.nav-links a {
  text-decoration: none;
  color: white;
  padding: 8px 15px;
  transition: background-color 0.3s;
}
.nav-links a:hover {
  background-color: #555;
}

.mainPage {
  padding: 0px 10px;
  margin: 0px 64px;
  background-color: white;
}

.mainPage h1 {
  font-size: 50px;
  font-weight: bold;
}
