/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[12].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"app/layout.jsx","import":"Inter","arguments":[{"subsets":["latin"]}],"variableName":"inter"} ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* cyrillic-ext */
@font-face {
  font-family: '__Inter_e66fe9';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/ec159349637c90ad-s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: '__Inter_e66fe9';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/513657b02c5c193f-s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: '__Inter_e66fe9';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/fd4db3eb5472fc27-s.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: '__Inter_e66fe9';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/51ed15f9841b9f9d-s.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: '__Inter_e66fe9';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/05a31a2ca4975f99-s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: '__Inter_e66fe9';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/d6b16ce4a6175f26-s.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Inter_e66fe9';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/c9a5bc6a7c948fb0-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: '__Inter_Fallback_e66fe9';src: local("Arial");ascent-override: 90.20%;descent-override: 22.48%;line-gap-override: 0.00%;size-adjust: 107.40%
}.__className_e66fe9 {font-family: '__Inter_e66fe9', '__Inter_Fallback_e66fe9';font-style: normal
}

/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
/*
! tailwindcss v3.3.5 | MIT License | https://tailwindcss.com
*//*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
*/

html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/
dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden] {
  display: none;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
.table {
  display: table;
}
.underline {
  text-decoration-line: underline;
}
.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

main {
  background: linear-gradient(to bottom, #f0f0f0, rgb(179, 179, 226));
  height: 100%;
}

/*---------------------------------------------Nav Bar-------------------------------------------------------------*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  color: white;
  border-bottom: 2px solid #b4b3b3;
  width: 100%;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-left: 64px;
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 50%;
  gap: 100px;
  font-size: larger;
  font-weight: 400;
  margin: 0 10px;
}
.nav-links a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 8px 15px;
  transition: background-color 0.3s;
}
.nav-links a:hover {
  color: #2f5cd9;
  border-radius: 10px;
  box-shadow: 0px 1px 0px #2f5cd9; /* Custom underline using box-shadow */
}

/*---------------------------------------------Main Page Body---------------------------------------------------------*/

/*======Upper Body=======*/

.upper-body {
  padding: 0px 10px;
  margin: 0px 64px;
  background-color: rgb(255, 255, 255, 0.5);
  display: flex;
  gap: 200px;
  height: 100vh;
}

.upper-body h1 {
  font-size: 50px;
  font-weight: bold;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding-bottom: 100px;
}

.left-container p {
  font-size: large;
  font-weight: 400;
  padding-bottom: 10px;
  padding-left: 10px;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  background-color: #0070f3;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1em;
  margin-right: 1.2em;
  min-width: 120px;
}

.btn:hover {
  background-color: #0051bb;
}

.btn-container {
  display: flex;
}

/*===Lower Body===*/

.lower-body {
  margin: 0px 64px;
  background-color: rgb(255, 255, 255, 0.5);
  display: flex;
  gap: 50px;
  border-top: 2px solid #696868; /* Adjust the color and thickness as needed */
  padding-top: 70px;
  height: 100vh;
}

.lower-body h1 {
  font-size: 50px;
  font-weight: bold;
}
.lower-body .left-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Aligns items to the start of the container */
  justify-content: flex-start; /* Aligns content to the top */
  width: 50%;
}
.lower-body .left-container p {
  padding-left: 40px;
  text-align: justify;
}

.lower-body .left-container h3 {
  font-weight: bold;
  font-size: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.blueTruth {
  color: #375bd2;
}

.truth_blue {
  color: #375bd2;
}

.my-bullet-list {
  list-style-type: disc;
  padding-left: 20px;
}

/*==============Bills==============*/
.servicePage {
  padding: 0px 10px;
  margin: 0px 64px;
  background-color: rgb(255, 255, 255, 0.5);
  display: flex;
  gap: 200px;
  height: 100%;
}

.chainlink-functions-link {
  color: blue;
}

.bill-title-subtitle {
  display: flex;
  justify-content: center;
}

.bill-title-header {
  font-size: large;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: 3em;
  text-decoration: underline;
  text-align: center;
}

.service-title-header {
  width: 100%;
  background-color: #375bd2;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-radius: 6px;
}
/**/
.service-title-header p {
  display: flex;
  justify-content: center;
  color: white;
}

.service-title-header h1 {
  display: flex;
  font-weight: bold;
  font-size: 50px;
  justify-content: center;
  color: whitesmoke;
}

.bills-container {
  justify-content: center;
  padding: 2rem;
}

.bill-cards-container {
  background-color: rgb(128, 128, 128, 0.3);
  border-radius: 12px;
  padding: 10px;
}
/***/
.card-image {
  padding-bottom: 5px;
}

.bill-arrow-icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
/**/
.bill-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates three columns */
  grid-gap: 20px;
}

.bill-list li {
  background-color: white;
  padding-bottom: 20px;
  margin-top: 1rem;
  display: flex;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.2s ease-in-out;
}
/***/
.bill-list li:hover {
  transform: scale(1.05);
}

.bill-list h2 {
  padding-top: 10px;
  padding: 0px 10px;
  font-weight: bold;
}

.bill-list p {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.align-date {
  text-decoration: underline;
}
/*==================== SELECTED BILL =====================*/

.bill-data-container {
  width: 100%;
}

.bill-data-container h1 {
  display: flex;
  justify-content: center;
  font-size: larger;
  font-weight: bold;
}
.more-information {
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-size: 2em;
  color: #333;
  padding: 20px;
}

.ai-options-container {
  font-weight: bold;
  color: gray;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
/*==================== ============= =====================*/

.bill-info-ver-header {
  display: flex;
  width: 100%;
  gap: 600px;
  padding-left: 250px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: larger;
}

.more-bill-info-header {
  display: flex;
  justify-content: right;
  padding-left: 20px;
}

/*=================== DATA TABLES ======================*/
.data-table-container {
  display: flex;
  justify-content: center; /* Centers the table horizontally */
}

.data-table {
  width: 70%;
  border-collapse: collapse; /* For removing the space between borders */
  text-align: center;
  margin-top: 20px;
  justify-items: center;
}

.data-table h2 {
  display: flex;
  justify-content: center;
}

.data-table th,
.data-table td {
  border: 1px solid #ddd; /* Adds border to table cells */
  padding: 8px;
}

.ai-link-list {
  font-weight: bold;
  box-shadow: #333;
}

.data-table th {
  background-color: #f2f2f2; /* Light grey background for header */
  color: #333; /* Dark text color for header */
}

.data-table td {
  background-color: white; /* Light grey background for header */
  color: #333; /* Dark text color for header */
}

.data-table-link {
  color: rgb(0, 110, 255);
  text-decoration: underline;
}

.title-cell {
  font-weight: bold;
  background-color: #f2f2f2;
}

.description-cell {
  background-color: white;
}

.description-cell-link {
  text-decoration: underline;
  color: blue;
  background-color: white;
}

.body-table {
  border: 1px solid #f7f4f4; /* Adds border to table cells */
}

.body-table th,
.body-table td {
  border: 1px solid #ddd; /* Adds border to table cells */
  padding: 2px;
}

.more-information-tables {
  display: flex;
  gap: 10px;
  padding-bottom: 30px;
  justify-content: center;
}

/*=================== ========= ======================*/
/*=================== PROMPT CONTAINER ======================*/

.prompt {
  display: flex;
  justify-content: center;
}

.prompt-container {
  background-color: #57bcff;
  padding-bottom: 20px;
  margin-top: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 70%;
  display: flex;
}

.prompt-container p {
  color: #f5f3f3;
  font-weight: bold;
  text-align: justify;
  padding-right: 20px;
  font-family: "Courier New", Courier, monospace;
}

.pbtn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  background-color: #0070f3;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  min-width: 120px;
}

.pbtn-copied {
  background-color: #16c60c;
}

/*=================== ========= ======================*/

.verification-information {
  display: flex;
  justify-content: center;
}

.prompt-tag {
  padding-top: 30px;
  padding-right: 20px;
  font-weight: bolder;
  font-size: large;
  font-family: "Courier New", Courier, monospace;
}

/*=================== IMAGE-LINKS-SELECTED-BILL ======================*/

.image-links-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.spacer {
  margin-right: 30px; /* Adds space to the right of each image container */
  display: flex; /* This will allow the margin to take effect */
  vertical-align: top;
}

.spacer p {
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: gray;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.image-card div {
  border-radius: 8px; /* Rounded edges */
  overflow: hidden; /* This ensures the rounded corners are applied to the image */
  transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.image-card:hover div {
  transform: scale(1.02); /* Slightly enlarge the image on hover */
}

.links-box {
  position: absolute;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  z-index: 10;
  /* additional styling as needed */
}

/*==============================CAROUSEL================================*/

/* ImageCarousel.module.css */
.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 100px;
  padding-bottom: 40px;
  padding-right: 20px;
}

.imageContainer {
  max-width: 650px;
  border: 2px solid #333; /* Example border */
  position: relative;
}

.image {
  display: block;
  width: 100%;
  border: 2px solid #333; /* Border around the image */
}

.imageSource {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: #fff;
  text-align: center;
  padding: 5px;
}

.sourceLink {
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgb(64, 64, 243);
  border-radius: 8px;
}

.button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  color: #333;
}

/*=================== ========= ======================*/
/* ===================  FOOTER ==================== */
.footer {
  text-align: center;
  padding: 15px 0;
  background-color: #f0f0f0;
  color: #333;
  position: absolute;
  width: 100%;
  border-top: 2px solid #b4b3b3;
}

.contact-images {
  display: flex;
  justify-content: center;
  gap: 250px;
  padding-right: 150px;
}

.icons {
  display: flex;
  gap: 10px;
}
/*====================== TECH PAGE ===================*/
.technology-page {
  display: flex;
  background: linear-gradient(to bottom, #f0f0f0, rgb(179, 179, 226));
  height: 70vh;
}

.tech-card {
  background-color: rgb(243, 241, 241, 0.5);
  padding-top: 50px;
  width: 50%;
  margin: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Optional: for card shadow */
}

.tech-card-text {
  padding: 10px;
}

.tech-card-image-1 {
  background-color: white;
  padding: 20px 0px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Optional: for card shadow */
}

.tech-card-image-2 {
  background-color: white;
  padding: 8px 0px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Optional: for card shadow */
}

.tech-card-image-0 {
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Optional: for card shadow */
}

/*================VISION PAGE=================*/
.vision-page {
  display: flex;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  text-align: justify; /* Center text within the container */
  padding-top: 10px;
  background: linear-gradient(to bottom, #f0f0f0, rgb(179, 179, 226));
  gap: 50px;
  height: 100vh;
}

.vision-page-container {
  background-color: rgb(255, 249, 249, 0.5);
  padding: 20px;
  margin-left: 40px;
}

.vision-page-container h1 {
  text-align: center;
}

.vision-page img {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
  border: 2px solid #ccc; /* Customize border color and thickness */
}

.vision-page p {
  padding-bottom: 10px;
  padding-top: 10px;
}

.vision-page h1 {
  font-weight: bold;
  font-size: 2em;
}

.vision-page-bio-container {
  background-color: rgb(255, 249, 249, 0.5);
  padding: 2px 20px;
  margin-right: 40px;
  margin-top: 0px;
}

.vision-page-bio-container h1 {
  text-align: center;
}
.bio-image {
  display: flex;
  justify-content: center;
}

.sponsor-container {
  display: flex;
  gap: 20px;
  padding-top: 20px;
}

.sponsor-description-text {
}

.sponsor-image {
  display: inline-block;
  padding-right: 0.4px;
  border: 2px solid black;
}

.search-form {
  padding: 10px; /* Add some padding for spacing */
  display: flex;
  justify-content: center; /* Center items horizontally */
}
.search-input {
  font-family: Arial, Helvetica, sans-serif;
  width: 70%; /* Set the input field width to 80% of the form's width */
  padding: 10px; /* Add padding to the input field for spacing */
  border: 1px solid #ccc; /* Add a border for a visual boundary */
}

.search-btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  background-color: #0070f3;
  color: white;
  padding: 1em;
}

